.page {
    .container {
        position: relative;
        height: calc(100vh - 68px);
    }

    &-title {
        font-size: 56px;
        width: 300px;
        text-transform: uppercase;
    }
    &-picture {
        &-imageframe {
            width: 300px;

            &--second {
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(-100% 100%);

                width: 150px;
                img {
                    width: 100%;
                    height: auto;
                }
    
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

}
.wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 300px;
    gap: 100px;
    padding-top: 56px;
}