<section class="page">
    <div class="container">
        <h1 class="page-title playfair-display">Yulia Pakhachuk</h1>
        <div class="page-picture">
            <div class="page-picture--accent"></div>
            <div class="page-picture-imageframe">
                <img class="page-picture-img"   src="../../../assets/images/picture1.jpg" alt="">
            </div>
        </div>
        <h2 class="page-job-title arimo">JavaScript Developer</h2>
        <p class="page-portfolio raleway">PORTFOLIO</p>
    </div>
</section>
