<section class="page">
    <div class="container">
        <div class="wrapper">

            <h1 class="page-title arimo">A Little About Me</h1>
            <div class="page-picture">
                <div class="page-picture--accent"></div>
                <div class="page-picture-imageframe">
                    <img class="page-picture-img"   src="../../../assets/images/picture2.jpg" alt="">
                </div>
            </div>
        </div>
        <p>
            Technologies exist to make our life better. That's why I'll happily participate in projects which help people with any issues at work, at home, or daily routine either.
            I'm an empathetic person, which helps me to feel every team member. 
            I'm not scared of bottlenecks because I believe that each problem has different solutions. 
            I have strong requirements for myself so I never stop in my self-developing process. Love smart people and tasty food.
        </p>
        <div class="page-picture-imageframe--second">
            <img class="page-picture-img"   
                    src="../../../assets/images/picture3.jpg" alt="">
        </div>
    </div>
</section>
